<section id="about" class="row scroll-margin-top">

    {# <!-- About --> #}
    <div class="col-12 col-lg-6">
        <h2>Hello, I'm Jen</h2>
        <p>I'm a freelance web developer at Purple 41 Web Design and a former software automation tester at Sky UK Ltd. After a career break where I retrained as a primary school teacher, I decided to return to tech. I began the Skills Bootcamp in Web Design and Development course with <a href="https://thecodersguild.org.uk/course-directory/get-hired-as-a-software-developer/" target="_blank">The Coder's Guild</a> in November 2023 in order to refresh my skills and return to a career in tech.</p>
        <p>I founded Purple 41 Web Design in 2023 after branching out as a freelance web developer when a family member asked me to enhance their existing business website hosted on Wix. I design and build custom websites from scratch, and maintain existing web and e-commerce sites hosted on Wix and WordPress. Take a look at the <a href="/#projects">Projects</a> section for examples of some of my recent work.</p>
    </div>

    {# <!-- Carousel --> #}
    <div id="img-carousel-about" class="col-12 col-lg-6 mt-md-3">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/profile-img-main.jpg" class="d-block w-100" alt="Photo of Jen sitting in front of a digital piano with a music book open on the music stand, a green ornamental duck in a pink hat sitting on the left side of the piano and a large green clock on the wall behind">
                </div>
                <div class="carousel-item">
                    <img src="/images/coding.jpg" class="d-block w-100" alt="An Apple MacBook with an iPhone placed on the keyboard and notebook to the side on the desk">
                </div>
                <div class="carousel-item">
                    <img src="/images/computer-screens.png" class="d-block w-100" alt="Two computer screens on a plain blue background">
                </div>
                <div class="carousel-item">
                    <img src="/images/macbook-code.jpg" class="d-block w-100" alt="A half-visible MacBook with computer code on the screen and an iPhone on the desk in the background">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>