<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Jen Patchett's Portfolio" />
		<title>{{ title }} </title>

		{# <!-- Bootstrap Stylesheet --> #}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		
		{# <!-- Additional Stylesheet --> #}
		<link rel="stylesheet" href="{{'/styles.css' | url | safe}}">
	</head>

	<body>
		{# <!-- Header and Nav Menu --> #}
        {% include "header.njk" %}
		

		<main class="main-content px-sm-5">

			{# <!-- Title and Description --> #}
			<section id="heading">
				<h1 id="main-title" class="mt-sm-2">Jen Patchett</h1>
				<h2 id="main-description">Web Developer & Software Automation Tester</h2>
			</section>


			{# <!-- Projects Section --> #}
			<section id="projects" class="scroll-margin-top">
				<h2 class="heading-mb">Recent Projects</h2>
			
				<div class="card-group">
					<div class="card">
						<a href="#" target="_blank"><img src="./images/macbook-code.jpg" class="card-img-top" alt="A half-visible MacBook with computer code on the screen and an iPhone on the desk in the background"></a>
						<div class="card-body">
							<h3 class="card-title"><a class="card-title-link" href="#" target="_blank">Project 1</a></h3>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							<a href="#" target="_blank" aria-label="View Project 1 in a new tab">View project</a>
						</div>
					</div>
					
					<div class="card">
						<a href="#" target="_blank"><img src="./images/computer-screens.png" class="card-img-top" alt="Two computer screens on a plain blue background"></a>
						<div class="card-body">
							<h3 class="card-title"><a class="card-title-link" href="#" target="_blank">Project 2</a></h3>
							<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
							<a href="#" target="_blank" aria-label="View Project 2 in a new tab">View project</a>
						</div>
					</div>

					<div class="card">
						<a href="#" target="_blank"><img src="./images/coding.jpg" class="card-img-top" alt="An Apple MacBook with an iPhone placed on the keyboard and notebook to the side on the desk">
					<div class="card-body">
						<h3 class="card-title"><a class="card-title-link" href="#" target="_blank">Project 3</a></h3>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
						<a href="#" target="_blank" aria-label="View Project 3 in a new tab">View project</a>
					</div>
					</div>
				</div>
			</section>

			{{ content | safe }}


			{# <!-- Contact Section --> #}
			
		</main>

        {# <!-- Footer --> #}
        {% include "footer.njk" %}

		{# <!-- Bootstrap script for interactivity --> #}
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	</body>
</html>