<footer>
    <a href="https://github.com/JenPatchett" target="_blank"><img src="/images/github.svg" class="social-logo" alt="GitHub logo"></a>
    <a href="https://www.linkedin.com/in/jenpatchett/" target="_blank"><img src="/images/linkedin.svg" class="social-logo" alt="LinkedIn logo"></a>
    <p>Copyright &copy {% year %} Jen Patchett. All rights reserved.</p>
</footer>