<footer>
    <a href="https://github.com/JenPatchett" target="_blank"><i class="bi bi-github social-logo" alt="GitHub logo"></i></a>
    <a href="https://www.linkedin.com/in/jenpatchett/" target="_blank"><i class="bi bi-linkedin social-logo"></i></a>
    <p>Copyright &copy {% year %} Jen Patchett. All rights reserved.</p>
</footer>