{# Partial for an individual project preview #}

<article class="col-12 col-sm-6 col-xl-3 mb-5"> 
  <div class="card project-card h-100" style="width: auto;">
    <div class="project-card__image-wrapper">
      <a href="{{ project.url }}">{% EleventyImage project.data.image, project.data.imageAlt, "(min-width: 30em) 50vw, 100vw" %}</a>
    </div>
      
    <div class="card-body">
      <div class="project-card__tags">
        {% for tag in project.data.tech %}
          <span class="project-card__tag">{{ tag }}</span>
        {% endfor %}
      </div>
      <h3 class="card-title">
          <a href="{{ project.url }}" class="card-title-link">{{ project.data.title }}</a>
      </h3>
      <p class="card-text">{{ project.data.summary }}</p>
      <a href="{{ project.url }}">View project</a>
    </div>
  </div>
</article>
