<section id="skills" class="accordion scroll-margin-top">
    <h2 class="heading-mb">My Skills & Experience</h2>
    <div class="accordion-item">
        <h3 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Skills</button>
        </h3>
        <div id="collapseOne" class="accordion-collapse collapse show row" data-bs-parent="#skills">
            <div class="accordion-body row">
                <article class="col-md-4 ">
                    <h4>Soft Skills</h4>
                    <ul class="split-col split-col-md">
                        <li>Problem solving</li>
                        <li>Communication</li>
                        <li>Planning</li>
                        <li>Organisation</li>
                        <li>Time management</li>
                        <li>Attention to detail</li>
                        <li>Mentoring</li>
                        <li>Teaching</li>
                        <li>Interpersonal skills</li>
                        <li>Resilience</li>
                        <li>Diversity & inclusion</li>
                    </ul>
                </article>

                <article class="col-md-5">
                    <h4>Software Development</h4>
                    <ul class="split-col">
                        <li>JavaScript</li>
                        <li>React.js</li>
                        <li>HTML5</li>
                        <li>Nunjucks</li>
                        <li>CSS</li>
                        <li>Bootstrap</li>
                        <li>11ty SSG</li>
                        <li>Accessibility</li>
                        <li>Git</li>
                        <li>Agile</li>
                        <li>Jira</li>
                        <li>Bash / Zsh</li>
                        <li>Netlify</li>
                        <li>WordPress</li>
                        <li>Wix</li>
                        <li>OOP</li>
                        <li>Java</li>
                        <li>PhP</li>
                        <li>MySQL</li>
                        <li>JSON</li>
                        <li>APIs</li>
                        <li>MVC</li>
                        <li>Docker</li>
                        <li>Jenkins</li>
                        <li>Circle CI</li>
                        <li>Octopus</li>
                        <li>Kubernetes</li>
                    </ul>
                </article>

                <article class="col-md-3">
                    <h4 id="hide-md">Software Testing</h4>
                    <h4 id="hide-not-md">Testing</h4>
                    <ul class="split-col split-col-md">
                        <li>Exploratory</li>
                        <li>Automation</li>
                        <li>End-to-end</li>
                        <li>Regression</li>
                        <li>Usability</li>
                        <li>Functional</li>
                        <li>API</li>
                        <li>Postman</li>
                        <li>Gauge-Java BDD</li>
                        <li>Cucumber BDD</li>
                        <li>Selenium</li>
                        <li>Appium</li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h3 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Relevant Experience</button>
        </h3>
        <div id="collapseTwo" class="accordion-collapse collapse row" data-bs-parent="#skills">
            <div class="accordion-body">
                <article>
                    <h4>Full-Stack Web Developer</h4>
                    <h5>Freelance</h5>
                    <p>Designing, building and maintaining full-stack web applications for a range of clients. Building websites from scratch. Updating existing e-commerce and booking sites hosted on Wix and WordPress. Adding new features; improving user experience and accessibility; estimating tasks; exploratory and regression testing; bug reports.</p>
                </article>
                
                <article>
                    <h4>Web Developer</h4>
                    <h5>An International Company (remote)</h5>
                    <p>Maintained multiple WordPress WooCommerce sites for the company and its sister companies, including writing custom code. Designed and built custom page templates using HTML5 and CSS for the company’s eBay product listings to reflect themes used on their websites. Conducted exploratory and regression testing. Worked closely with company directors and marketing team. Delivered web accessibility training to colleagues and established formal documentation. Implemented agile methodologies.</p>
                </article>

                <article>
                    <h4>Software Automation Tester</h4>
                    <h5>Sky UK Ltd, Leeds (hybrid)</h5>
                    <p>Began as a graduate trainee automation tester (6 months). Projects included a booking and weather web application, followed by an iOS data reporting app. Both projects designed and built by my squad from scratch. Automation testing tech stack included Java, Cucumber, Selenium, Postman and Appium.</p>
                    <p>I then worked on internal backend Java projects, end-to-end and regression testing APIs. Tech stack included Gauge Java BDD framework, Postman, Docker, Jenkins, CircleCI, Octopus and Kubernetes. I provided code reviews, regularly pair programmed and created Confluence documentation explaining backend architecture for new starters. In addition, I supported Sky’s <a href="https://getintotech.sky.com/courses/get-into-tech/">Get into Tech</a> women’s coding initiative and facilitated a monthly support group for Leeds colleagues living with chronic pain and long-term conditions.</p>
                </article>

                <article>
                    <h4>Online Information Coordinator</h4>
                    <h5>An International Company (remote)</h5>
                    <p>Responsible for maintaining multiple social media sites and WordPress blog for the main company and its sister companies. Worked closely with company directors, sales and marketing teams.</p>
                </article>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h3 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Education</button>
        </h3>
        <div id="collapseThree" class="accordion-collapse collapse row" data-bs-parent="#skills">
            <div class="accordion-body row">
                <section class="col-md-6 mb-2">

                    <h4 class="pb-3">Training</h4>

                    <article>
                        <h5>The Coders Guild</h5>
                        <p class="mb-1">Skills Bootcamp in Web Design & Development</p>
                        <p>Feb 2024</p>
                    </article>
                    
                    <article>
                        <h5>Sky UK Ltd, Leeds Dock</h5>
                        <p class="mb-1">Get into Tech: Software Development Bootcamp</p>
                        <p>May 2018</p>
                    </article>
                    
                    <article>
                        <h5>University of Hertfordshire</h5>
                        <p class="mb-1">Procedural & Object-Oriented Programming</p>
                        <p>Jan 2018</p>
                    </article>
                    
                </section>

                <section class="col-md-6 mb-2">
                    <h4 class="pb-3">Higher Education</h4>
                    
                    <article>
                        <h5>University of Leeds</h5>
                        <p class="mb-1">PGCE & Qualified Teacher Status (QTS)</p>
                        <p>July 2023</p>
                    </article>

                    <article>
                        <h5>The Open University</h5>
                        <p class="mb-1">Master of Arts (MA) in Philosophy</p>
                        <p>Sept 2022</p>
                    </article>
                    
                    <article>
                        <h5>The Open University</h5>
                        <p class="mb-1">Bachelor Of Arts (Hons) 2:1</p>
                        <p>July 2017</p>
                    </article>

                </section>
            </div>
        </div>
    </div>
</section>
