.main-content {
	max-width: 1200px;
	font-size: 16px;
	margin: auto;
	padding: 20px;
	scroll-behavior: smooth;
}

#site-title {
	font-size: 40px;
	margin-top: 10%;
	padding-top: 20px;
}

#site-description {
	font-size: 20px;
	padding-bottom: 20px;
}

#site-title, #site-description {
	display: flex;
	justify-content: center;
}

#nav-list {
	align-self: center;
}

#search-input, #search-btn {
	margin-bottom: 15px;
}

section {
	margin: 40px 0;
}

article {
	margin: 40px 0;
}

#project-one {
	margin-top: -20px;
}

fieldset {
	max-width: 600px;
}

#contact-img {
	max-width: 400px;
	padding: 10px;
	margin: 0 auto; 
}

footer {
	/* max-width: 100%; */
	margin-top: 50px;
	padding: 20px 0;
	/* left: 0;
  	right: 0; */
  	width: 100%;
	background-color: #F8F9FA;
}

footer p {
	display: flex;
	align-self: flex-end;
	justify-content: center;
	padding-top: 50px;
	font-size: 0.8em;
}
