body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}


/* NAVIGATION */

.nav-container {
	max-width: 1400px;
	font-size: 1.2rem;
}

.nav-social-links {
	text-align: center;
}

.offcanvas {
	max-width: 312px;
}

.navbar-brand {
	font-size: 1.1rem;
}

.brand-logo-img {
	object-fit: cover;
	width: 50px;
	height: 50px;
	border: 1px solid #7843E9;
	border-radius: 50%;
	background-color: #7843E9;
	margin-right: 10px;
}

#search-input,
#search-btn {
	margin-bottom: 15px;
}


/* MAIN CONTENT */

.main-content {
	max-width: 1400px;
	font-size: 16px;
	margin: auto;
	padding: 0 20px;
	/* scroll-behavior: smooth; */
}

section {
	margin: 55px 0 80px 0;
	scroll-margin-top: 110px;
}

main a {
	text-decoration: none;
	color: #7843E9;
	font-weight: 700;
}

main a:hover {
	color: #5e2c87;
	text-decoration: underline;
	text-underline-offset: 4px;
}

#heading {
	text-align: center;
	margin-bottom: 50px;
}

#main-title {
	font-size: 40px;
	margin-top: 10%;
	padding-top: 50px;
}

#main-description {
	font-size: 20px;
}

.carousel-inner {
	border-radius: 7px;
	width: auto;
}

.carousel-item>img {
	height: 300px;
	width: auto;
	object-fit: cover;
}

.heading-mb {
	margin-bottom: 15px;
}

.accordion-button {
	background-color: #F8F9FA;
	font-size: 18px;
}

.accordion-button:not(.collapsed) {
	background-color: #e6e6e6;
	box-shadow: none;
	font-weight: 500;
	color: #212529;
}

.accordion-button:focus {
	box-shadow: inherit;
}

.accordion-button:hover {
	background-color: #e6e6e6;
	font-weight: 500;
}

.accordion-body p,
.accordion-body h4,
.accordion-body h5 {
	margin-left: 10px;
	padding-right: 5px;
}

.accordion-body h4 {
	font-size: 18px;
}

.accordion-body h5 {
	font-size: 17px;
}

.accordion-body article {
	margin-bottom: 0px;
}

.split-col {
	column-count: 2;
	column-gap: 40px;
}

.skills-accordion h4 {
	font-weight: 600;
}

.experience article:not(:last-child),
.education article:not(:last-child) {
	margin-bottom: 50px;
}

.higher-ed-h4 {
	padding-top: 50px;
}

.skills-h4 {
	padding-top: 40px;
}

#project {
	margin-top: 10%;
	padding-top: 50px;
}

.project-title {
	margin-top: 85px;
}

.card-title {
	font-size: 20px;
	margin-top: 20px;
}

.card-title-link {
	text-decoration: none;
	color: inherit;
}

.card-title-link:hover {
	text-decoration: underline;
}

/* Individual tech badges on Project Card and Project Page */
.project-card__tag {
	background-color: #e3e6e4;
	font-size: 0.7rem;
	font-weight: 600;
	color: #212529;
	padding: 10px;
	border: 1px solid #e3e6e4;
	border-radius: 20px;
	margin: 0 2px;
}

/* Group of tech badges on Project Card and Project Page */
.project-card__tags {
	text-align: center;
}

#contact {
	margin-top: 100px;
}


/* FORMS */

fieldset {
	max-width: 700px;
	margin-left: 2px;
}


/* FOOTER */

footer {
	margin: 50px 0 0 0;
	padding: 30px 0;
	width: 100%;
	background-color: #F8F9FA;
	font-size: 0.8em;
	text-align: center;
}

.social-logo {
	width: 30px;
	margin: 30px 15px;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 0px) and (max-width: 767px) {

	/* Show 'Software Testing' and hide 'Testing' heading on small screens: */
	#hide-not-md {
		display: none;
	}
}

@media only screen and (min-width: 768px) {

	/* For desktop and tablet: */

	.navbar {
		margin-left: auto;
	}

	#contact {
		border: 1px solid #e6e6e6;
		border-radius: 7px;
		padding: 20px;
	}

	.split-col-md {
		column-count: 1;
		column-gap: 40px;
	}

	.higher-ed-h4 {
		padding-top: 0;
	}

	.skills-h4 {
		padding-top: 0;
	}
}

@media only screen and (min-width: 768px) and (max-width: 850px) {

	/* Show 'Testing' and hide 'Software Testing' heading on medium screens: */
	#hide-md {
		display: none;
	}
}

@media only screen and (min-width: 851px) {

	/* Show 'Software Testing' and hide 'Testing' heading on larger screens: */
	#hide-not-md {
		display: none;
	}
}

@media only screen and (min-width: 992px) {
	nav .social-logo {
		display: none;
	}

	.nav-container {
		max-width: 1400px;
		font-size: 1rem;
	}

	.navbar-brand {
		font-size: 1rem;
	}
}